<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>opencarSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a7c7e0">  <td>23/05/26 17:07:21</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:testCases.TC_002_LoginTest@3c41ed1d]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1603198149</td>   <td></td> </tr>
<tr bgcolor="8e7898">  <td>23/05/26 17:07:19</td>   <td>-1231</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_002_LoginTest.test_login()[pri:0, instance:testCases.TC_002_LoginTest@3c41ed1d]">test_login</td> 
  <td>main@1603198149</td>   <td></td> </tr>
<tr bgcolor="82f9e2">  <td>23/05/26 17:07:16</td>   <td>-4672</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_001_AccountRegistrationTest.test_account_Registration()[pri:0, instance:testCases.TC_001_AccountRegistrationTest@557caf28]">test_account_Registration</td> 
  <td>main@1603198149</td>   <td></td> </tr>
<tr bgcolor="a7c7e0">  <td>23/05/26 17:07:09</td>   <td>-11556</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.setup(java.lang.String)[pri:0, instance:testCases.TC_001_AccountRegistrationTest@557caf28]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1603198149</td>   <td></td> </tr>
<tr bgcolor="a7c7e0">  <td>23/05/26 17:07:17</td>   <td>-3816</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:testCases.TC_001_AccountRegistrationTest@557caf28]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1603198149</td>   <td></td> </tr>
<tr bgcolor="a7c7e0">  <td>23/05/26 17:07:17</td>   <td>-3255</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.setup(java.lang.String)[pri:0, instance:testCases.TC_002_LoginTest@3c41ed1d]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1603198149</td>   <td></td> </tr>
</table>
